@model ListaPaginada<Articulo>

<h2 class="text-center">Lista de Entrada</h2>
@* Mostrar entradas *@
@if (Model.Count > 0)
{
    <hr/>
    <div class="row">
        @foreach (var articulo in Model)
        {
            <div class="col-4  d-flex align-items-center justify-content-center">
                <div class="card mb-4" style="width: fit-content">
                    <img src="@articulo.UrlImagen"
                         alt="articulo imagen"
                         class="img-thumbnail"
                         width="100%"
                         style="max-height: 400px; object-fit: contain;"/>
                    <div class="card-body">
                        <h5 class="text-center">@articulo.Nombre</h5>
                        <a asp-action="Detalle" class="btn btn-success" style="border-radius: 10px" asp-route-id="@articulo.Id">
                            Mas informacion
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay articulos</p>
}
<br />
<br />
<!--Crear botones de páginación-->
<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex - 1)" asp-route-searchString="@Model.SearchString">Anterior</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@i" asp-route-searchString="@Model.SearchString">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex + 1)" asp-route-searchString="@Model.SearchString">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>

